doctype html
html.no-js(lang='')
  head
    // meta
    meta(charset='utf-8')
    meta(name='description', content='Flat, Clean, Responsive, application admin template built with bootstrap 3')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1')
    // /meta
    title Sublime - Web Application Admin Dashboard
    // page level plugin styles
    link(rel='stylesheet', href='/admin/plugins/chosen/chosen.min.css')
    link(rel='stylesheet', href='/admin/plugins/datatables/jquery.dataTables.css')
    // /page level plugin styles
    // core styles
    link(rel='stylesheet', href='/admin/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/admin/css/font-awesome.css')
    link(rel='stylesheet', href='/admin/css/themify-icons.css')
    link(rel='stylesheet', href='/admin/css/animate.min.css')
    // /core styles
    // template styles
    link(rel='stylesheet', href='/admin/css/skins/palette.css')
    link(rel='stylesheet', href='/admin/css/fonts/font.css')
    link(rel='stylesheet', href='/admin/css/main.css')
    // template styles
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    // load modernizer
    script(src='/admin/plugins/modernizr.js')
  // body
  body
    
    block content
    
    // core scripts
    script(src='/admin/plugins/jquery-1.11.1.min.js')
    script(src='/admin/bootstrap/js/bootstrap.js')
    script(src='/admin/plugins/jquery.slimscroll.min.js')
    script(src='/admin/plugins/jquery.easing.min.js')
    script(src='/admin/plugins/appear/jquery.appear.js')
    script(src='/admin/plugins/jquery.placeholder.js')
    script(src='/admin/plugins/fastclick.js')
    // /core scripts
    // page level scripts
    script(src='/admin/plugins/chosen/chosen.jquery.min.js')
    script(src='/admin/plugins/datatables/jquery.dataTables.js')
    // /page level scripts
    // template scripts
    script(src='/admin/js/offscreen.js')
    script(src='/admin/js/main.js')
    // /template scripts
    // page script
    script(src='/admin/js/bootstrap-datatables.js')
    script(src='/admin/js/datatables.js')
    // /page script
  // /body
