doctype html
html.home.no-js(lang='')
  head
    // meta
    meta(charset='utf-8')
    meta(name='description', content='flat, clean, responsive, application frontend template built with bootstrap 3')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // /meta
    title Sublime - Web Application Frontend Template
    // page level plugin styles
    link(rel='stylesheet', href='/front/plugins/owl-carousel/owl.carousel.css')
    link(rel='stylesheet', href='/front/plugins/owl-carousel/owl.theme.css')
    link(rel='stylesheet', href='/front/plugins/owl-carousel/owl.transitions.css')
    link(rel='stylesheet', href='/front/plugins/magnific-popup/magnific-popup.css')
    // /page level plugin styles
    // core styles
    link(rel='stylesheet', href='/front/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/front/css/font-awesome.min.css')
    link(rel='stylesheet', href='/front/css/themify-icons.css')
    link(rel='stylesheet', href='/front/css/animate.min.css')
    // /core styles
    // template styles
    link#skin(rel='stylesheet', href='/front/css/skin/blue.css')
    link#font(rel='stylesheet', href='/front/css/fonts/opensans.css')
    link(rel='stylesheet', href='/front/css/main.css')
    // template styles
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    // load modernizer
    script(src='/front/plugins/modernizr.js')
  
  // body
  body
  
    block content
    
    // /footer
    // core scripts
    script(src='/front/plugins/jquery-1.11.1.min.js')
    script(src='/front/bootstrap/js/bootstrap.js')
    script(src='/front/plugins/appear/jquery.appear.js')
    script(src='/front/plugins/nav/jquery.nav.js')
    script(src='/front/plugins/jquery.easing.min.js')
    // /core scripts
    // page level scripts
    script(src='/front/plugins/jquery.parallax.js')
    script(src='/front/plugins/isotope/isotope.pkgd.min.js')
    script(src='/front/plugins/count-to/jquery.countTo.js')
    script(src='/front/plugins/owl-carousel/owl.carousel.min.js')
    script(src='/front/plugins/magnific-popup/jquery.magnific-popup.min.js')
    // /page level scripts
    // template scripts
    script(src='/front/js/main.js')
    // /template scripts
    // page script
    script(src='/front/js/subscribe.js')
    script(src='/front/js/demo_home.js')
    // /page script